nav#mainNav
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	div.flex_box.right.vCenter
		div.flex_item
			a.clean(href="#")
				i.fa.fa-bell.fa-2x(aria-hidden="true")
		div.flex_item
			a.clean(href= subR + "/profile")
				img(src="/staticMax/images/Profile.PNG")
