nav#mainNav
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	if (!loggedOut)
		div.flex_box.right.vCenter
			div.flex_item
				a.clean(href= subRoute + "/users" title="Users")
					i.fa.fa-address-book.fa-2x(aria-hidden="true")
			div.flex_item
				a.clean(href= subRoute + "/projects" title="Projects")
					i.fa.fa-ship.fa-2x(aria-hidden="true")
			div.flex_item
				a.clean(href= subRoute + "/notifications" title="Notifications")
					i.fa.fa-bell.fa-2x(aria-hidden="true")
			div.flex_item
				a.clean(href= subRoute + "/profile")
					img#miniProfilePic(src= subR + "/REST/profilePic" title="Profile")
			div.flex_item
				a.clean(href= subRoute + "/logout" title="Log out")
					i.fa.fa-sign-out.fa-2x
