extends layout

block content
  h1.tCenter.weeVertMargin Administrator Tools
  div#companyManager.main.block

  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://www.w3schools.com/lib/w3.js")
  script(type="text/javascript" src="/staticMax/javascripts/companyManager.js")
