extends layout

block content
  div#login.main.tCenter
    h1 Login
    include ./partials/_form.pug
    if badAuth
      p.issueText Authentication failure
    div.weeVertMargin
      a(href=subR + "/register") Register
