extends layout

block content
  div#project.main
    div.block.tCenter
      h1 #{projectData.title}
    div.block
      h2.topBit Description
      p #{projectData.description}
    if (projectData.locked)
      div.block.tCenter
        b #{projectData.lockReason}
    else
      div.block
        h2.topBit Summary
        div#projectSummary
      div.block
        div.flex_box.vAlign.topBit
          div.flex_item
            h2.weeVertMargin History
          div.flex_item
            a.clean.fancy.weeVertMargin Request Invoice
        div#histories
      div.block
        h2.topBit Conversation
        div#conversation
      div.block
        h2.topBit File Sharing
        div#fileShare
      if (userProjectRole == "Client")
        div.block
          a.clean.fancy(href= subR + "/review?id=" + projectId) Review Project
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript" src="/staticMax/javascripts/formValidator.js")
  script(type="text/javascript" src="/staticMax/javascripts/project.js")
