extends layout

block content
  div.main
    h1 Terms and Conditions
    p ksdjflkjsadf sdlfjalsj klsjajgl jsahglj kjahsdlkfjhhlkj alskj glksj lkjas lkjfhlkj akjhsdlkfj lkajsh dkljfhl ajshfkljh laksjf lkjashflkjh as
