extends layout

block content
  div#register.main.tCenter
    h1 Registration
    p Complete the forms below and accept terms and conditions, to register into our platform:</p>
    include ./partials/_form.pug
